body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(153, 180, 212);
    ;
    width: 100%;
}

#message {
    text-align: center;
}

#login {
    padding: .2rem .7rem;
    color: white;
    background-color: #007bff;
    border-radius: 50rem;
    /* margin-left: 18%; */
}

.header-btns {
    width: fit-content;
    padding: 5px;
    background-color: gainsboro;
    border-radius: 15pt;
    border: 1px solid black;
}

.container-fluid {
    max-width: 90%;
}

.parent {
    height: 300px;
}

#imageTron {
    height: -webkit-fill-available;
    border-radius: 5pt;
    border: 1px solid black;
    background-image: url(../images/cityscapNight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: fill; */
}

p {
    font-size: 15px;
    color: black;
    width: 100%;
    margin-bottom: .2rem;
}

.compare {
    width: 100%;
    height: 600px;
    background-color: lavender;
    overflow: auto;
}

#search {
    border-radius: 5pt;
    border: 1px solid black;
    margin: auto;
    background-color: white;
    width: 100%;
    padding: 20px;
}

*/ .btn-lg {
    border: 1px solid #007bff;
    background-color: #007bff;
    border-radius: 10rem !important;
    color: white;
    font-size: 15px;
}

.btn-lg:hover {
    background-color: #0069D9;
    color: white
}

#searchBar {
    width: 35%;
    float: left;
}

.sources {
    width: 50%;
    float: right;
    padding: 5px;
}

.dropdown-menu-left {
    /* width: 50%; */
    float: left;
}

.dropdown-menu-right {
    /* width: 50%; */
    float: left;
}

#searchBtn {
    width: 80px;
}

.articleCol {
    width: 50%;
    float: left;
}

.logoImg {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

a {
    font-weight: bold;
    font-size: 30px;
}

#articles {
    background-color: white;
    min-height: 500px;
}

#sourceName {
    text-align: center;
}

button {
    margin: 5px;
}

input {
    margin: 5px;
}

#articleDiv {
    border-radius: 5pt;
    border: 1px solid black;
    padding: 2rem 1rem;
}

#leftDiv {
    height: 500px;
    width: 48%;
    overflow: auto;
    float: left;
    outline: black solid 1px;
    margin: 1%;
}

#rightDiv {
    height: 500px;
    width: 48%;
    overflow: auto;
    float: right;
    outline: black solid 1px;
    margin: 1%;
}

#articleDivLeft {
    height: 500px;
    width: 45%;
    float: left;
    overflow: auto;
    outline: black solid 1px;
    margin: 1%;
}

#articleDivRight {
    height: 500px;
    width: 45%;
    float: right;
    overflow: auto;
    outline: black solid 1px;
    margin: 1%;
}

#word-cloud {
    height: 200px;
    background-color: gainsboro;
}

#compare {
    border: 1px solid black;
}

@media screen and (max-width:480px) {
    .container-fluid {
        max-width: 100%;
    }

    .jumbotron {
        padding: 0%;
    }

    #sources {
        width: 50px;
        float: left;
    }

    .dropdown-menu-left .dropdown-menu-right {
        width: 80%;
        float: left;
    }

    #searchBtn {
        width: 70px;
    }

    #searchBar {
        width: 40%;

    }
}

@media screen and (max-width:720px) {
    #sources {
        width: 200px;
        float: left;
    }

    .dropdown-menu-left .dropdown-menu-right {
        width: 200px;
        float: left;
    }

    #searchBar {
        width: 44%;
    }

    .jumbotron {
        padding: 0%;
    }
}

.cloud:hover {
    transform: scale(1.2);
}

.cloud {
    width: 100%;
    height: 100%;
    transition: all .5s;
}